.loadingScreen {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingScreen > h1 img {
width: 45px;
animation:  rotateForever 2s infinite;
}

/*let's rotate the car alrighty*/
@keyframes rotateForever {
  from {
   transform: rotate(360deg);
  }
}

.loadingScreen > h1 {
font-size: 3rem;
font-family: 'Playfair Display', sans-serif;
}